{% extends 'layout.html.twig' %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <form action="{{ action }}" method="post">
        <label for="firstname">Enter Firstname:</label>
        <input type="text" name="firstname" id="firstname">
        <br>
        <label for="surname">Enter Surname:</label>
        <input type="text" name="surname" id="surname">
        <br>
        <label for="address">Enter Address:</label>
        <input type="text" name="address" id="address">
        <br>
        <label for="postcode">Enter Postcode:</label>
        <input type="text" name="postcode" id="postcode">
        <br>
        <label for="city">Enter City:</label>
        <input type="text" name="city" id="city">
        <br>
        <label for="phone-number">Enter Phone number:</label>
        <input type="text" name="phone-number" id="phone-number">
        <br>
        <input type="submit" name="personal-info-submit" value="submit">
    </form>
{% endblock %}