{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <div class="content-div">
        <h2>{{ page_heading2 }}</h2>

        <div >
            <a href="{{ add_admin }}">Add Admin Users</a>
            <a href="#">Assign Builds</a>
            <a href="#">Messages</a>
            <a href="#">Orders</a>
            <a href="#">Add products</a>
            <a href="#">Change Slideshow</a>
        </div>
    </div>
{% endblock %}