{% extends 'banner.html.twig' %}
{% block content %}
<div class="content-div">
    <h2>{{ heading }}</h2>
    <span>{{ message }}</span>

    <span>
        You can view your orders<a href="yourorder">here</a>
    </span>
</div>
{% endblock %}