{% extends 'banner.html.twig' %}
{% block content %}
    <div class="content-div">
        <h2>{{ heading }}</h2>
        <form id="ajax-contact" method="post" action="{{ action }}">

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>

            <input type="submit" name="Send" value="Send">
        </form>
    </div>
{% endblock %}