{% extends 'banner.html.twig' %}
{% block content %}
    <div class="content-div">
        <h2>{{ heading }}</h2>
        <div>
            <h3>Product Details</h3>
            <div><span>Order</span></div>
            <div><span>{{ order_id }}</span></div>
            <div><span>Subject</span></div>
            <div><span>About Product</span></div>
        </div>
        <form method="post" action="{{ action }}">
            <h3>Product Details</h3>
            <input type="hidden" name="order_id" value="{{ order_id }}">

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" maxlength="3000"
                      placeholder="Please limit your words to 3000 characters" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
{% endblock %}