{% extends 'layout.html.twig' %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <form action="{{ action }}" method="post">
        <label for="edit-password">Enter new password:</label>
        <input type="text" name="edit-password" id="edit-password">
        <br>
        <label for="confirm-password">Confirm password:</label>
        <input type="text" name="confirm-password" id="confirm-password">
        <input type="submit" name="edit-password-submit" value="submit">
    </form>
{% endblock %}