{% extends 'layout.html.twig' %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <div class="edit-div">
        <h2>Change Password</h2>
        <form action="{{ action }}" method="post">
            <label for="edit-password">Enter new password:</label>
            <input type="text" name="edit-password" id="edit-password">
            <label for="confirm-password">Confirm password:</label>
            <input type="text" name="confirm-password" id="confirm-password">
            <button type="submit" value="submit">Submit</button>
        </form>
    </div>
{% endblock %}