{% extends 'layout.html.twig' %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>
    <div class="content-div" id="signup_div">

    </div>
{% endblock %}