{% extends 'banner.html.twig' %}
{% block content %}
    <img src="{{ homepage_banner }}" id="homepage_banner_pic">

    <div style="text-align: center;">
        <a href="configureintelform">
            <button type="submit">Build Your Intel PC</button>
        </a>
        <a href="configureamdform">
            <button type="submit">Build Your AMD PC</button>
        </a>
    </div>

{% endblock %}
