{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <img src="{{ homepage_banner }}" id="homepage_banner_pic">

        <a href="configureform">
            <button type="submit">Build Your PC</button>
        </a>
    </div>
{% endblock %}
