{% extends 'banner.html.twig' %}
{% block content %}
    <div id="slide-section">
        <div class="project-slideshow" id="slides1">
            {% for slide in slideshow %}
            <div class="mySlides">
                <img class="project-images" src="{{ slide }}" alt="{{ slide }} is an image of our deals">
            </div>
            {% endfor %}
            <a class="prev" id="prev-slide">&#10094;</a>
            <a class="next" id="next-slide">&#10095;</a>
        </div>
    </div>
    <div id="configure">
        <div class="processor">
            <img src="{{ intel }}" alt="Intel Image">
            <a href="configureintelform">
                Build Your Intel PC
            </a>
        </div>
        <div class="processor">
            <img src="{{ amd }}" alt="AMD Image" >
            <a href="configureamdform">
                Build Your AMD PC
            </a>
        </div>
    </div>

{% endblock %}
