{% extends 'banner.html.twig' %}
{% block content %}
    <section>
        <div class="project-slideshow" id="slides1">
            {% for slide in slideshow %}
            <div class="mySlides">
                <img class="project-images" src="{{ slide }}" id="{{ slide }} is an image of our deals">
            </div>
            {% endfor %}
            <a class="prev" id="prev-slide">&#10094;</a>
            <a class="next" id="next-slide">&#10095;</a>
        </div>
    </section>
    <div style="text-align: center;">
        <a href="configureintelform">
            <button type="submit">Build Your Intel PC</button>
        </a>
        <a href="configureamdform">
            <button type="submit">Build Your AMD PC</button>
        </a>
    </div>

{% endblock %}
