{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <h2></h2>
    <div>
        <div><span>From:</span></div>
        <div><span></span></div>

        <div>
            <span>{{ message }}</span>
        </div>
    </div>
{% endblock %}