{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <div class="content-div">
        <h2>{{ page_heading2 }}</h2>

        <div id="account-div">
            <a id="personal-details" href="personaldetails">Personal Details</a>
            <a id="personal-orders" href="#">Your Orders</a>
        </div>
    </div>
{% endblock %}