{% extends 'banner.html.twig' %}
{% block content %}
    <div class="content-div">
        <h2>{{ heading }}</h2>

        <div>
            <table>
                <tr>
                    <th>Order ID</th><th>Description</th><th>Price</th><th>Date of Purchase</th><th>Order Status</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}